.form-box{
    text-align: center;
    margin-top:0px;
    margin-left:0px;
    background-color:transparent !important;
    border: 4px outset #617266 !important;
    border-radius: 25px !important;
    padding: 5px 5px !important;
}

.form{
    color: #fff;
}

.form-label{
    font-size: 22px;
}

.MuiOutlinedInput-notchedOutline{
    border-color:#56e456 !important;
    opacity: 0.5;
    border-radius: 20px;
}

.form-upload-button{
    border-radius: 50%;
    border: 2px outset #b7c6b2;
    opacity: 0.6;
    height: 60px;
    width: 10px;
    float: right;
}

.form-upload-button:hover{
    opacity: 1;
}

.form-wallet-button{
    border-radius: 25px;
    background-color: #269a26;
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width:375px){
    .form-label{
        font-size: 14px !important;
    }
}

@media screen and (max-width:600px){
    .form-box{
        width: 100%;
    }
}

@media screen and (min-width:700px) {
    .form-wallet-button{
        margin-left: 150px;
    }
}

@media screen and (max-width:980px){
    .form-label{
        font-size: 16px;
    }
}

@media screen and (min-width:1000px) {
    .form-wallet-button{
        margin-left: 280px;
    }
}

@media screen and (min-width:1200px) {
    .form-wallet-button{
        margin-left: 350px;
    }
}

