/* @tailwind base;
@tailwind components;
@tailwind utilities; */


:root {
  
  font-family: 'Book antique regular' !important;
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: 'Book antique';

    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* font-family: 'Book antique' !important; */
}

body {
  /* font-family: 'Book antique' !important; */
  color: #fff;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    ;
}

h1 {
  font-size: 60px;
  color: #fff;
  opacity: 100%;
}
h2 {
  font-size: 50px;
  color: #fff;
  opacity: 80%;
}
h5 {
  font-size: 38px;
  color: #00FF01;
  opacity: 100%;
}
h6 {
  font-size: 30px;
  color: #FFF;
  opacity: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

.navbar{
  background: #000;
  box-shadow: none;
  align-items: center;
  position: fixed;
}

.wallet-adapter-button {
  margin-top: 20px;
  font-size: 22px;
}

.top-wallet-section {
  display: flex;
  margin-left: 40px;
}
.top-wallet-section button {
  color: white !important;
  background: radial-gradient(122.09% 122.09% at 50% 50%, rgba(0, 255, 1, 0) 0%, #00FF01 100%) !important;
  border-radius: 100px !important;
  border-color: #00FF01 !important;
}

.top-wallet-section button:hover {
  border-color: #FFF !important;
}

.top-wallet-section div {
  color: #fff;
  font-size: 20px;
  background: radial-gradient(122.09% 122.09% at 50% 50%, rgba(0, 255, 1, 0) 0%, #00FF01 100%) !important;
  border-radius: 100px !important;
  border-color: #00FF01 !important;
}

.fetch-block-data {
  width: 40%;
  margin-left: 30%;
  display: flex;
}

.fetch-block-data button {
  margin-top: 100px;
  color: white !important;
  background: radial-gradient(122.09% 122.09% at 50% 50%, rgba(0, 255, 1, 0) 0%, #00FF01 100%) !important;
  border-radius: 100px !important;
  border-color: #00FF01 !important;
  text-align: center;
}
 
.company-main-content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.company-enterprise-button {
  box-sizing: border-box !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
  padding: 10px 24px !important;
  border: 1px solid #00FF01 !important;
  border-radius: 100px !important;
  color: #FDFDFD !important;

}

.company-user-button {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 24px;

  border: 1px solid #00FF01;
  border-radius: 100px;
  color: #FDFDFD;

}
