.navbar-link button:hover{
    color:#00FF01 !important;
}

.head-text {
    font-size: 50px !important;
    font-weight: 400 !important;
    line-height: 1.34 !important;
}
  
.sub-text  {
    font-size: 30px !important;
    font-weight: 400 !important;
    line-height: 1 !important;
    text-align: center;
}
  
.test {
    font-size: 30px;
    line-height: 1;
    text-align: center;
}
  
  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
  }
}
  
.toggle-box{
    margin-bottom: 2px;
    margin-top: 10px;
    font-size: 32px;
    color: #fff;
}
.toggle-item{
    margin-bottom: 5px;
    padding: 20px 50px
}
.toggle-item:hover{
    color:#00FF01
}
.image-container{
    margin: 0;
}
.image{
    position: relative;
    left: -100%;
    animation: slideRight 1s forwards;
}
  
.logo-icon{
    margin-top: 19px;
    margin-right: -16px;
}
  
  @keyframes slideRight {
    to {
      left: 0;
  }
}
.button-arrow{
    background-color: transparent !important;
    border-radius: 20px !important;
    border: 2px solid #fff !important;
    font-size: large !important;
    font-weight: 400 !important;
}
.button-arrow:hover{
    border-color: #00FF01 !important;
    background-color: #cfcece !important;
    color: #000 !important;
    font-weight: 600 !important;
    width:165px
}
.line{
    border-top: 0.5px solid #00FF01 !important;
    margin-top: 50px;
    opacity: 0.35;
}
.line-end{
    border-top: 0.5px solid #fff;
    margin-top: 50px;
    opacity: 0.6;
}
.circle{
    border-radius: 50%;
    border: 0.6px solid #0afd0a;
    width: 150px;
    height: 150px;
    padding: 6px;
    margin-left: 80px;
    margin-top: 5px;
    background: transparent;
    position: relative;
    transition: all 0.5s ease;
}
.dotted-circle{
    border-radius: 50%;
    border: 2px dashed #00FF01;
    width: 120px;
    height: 120px;
    padding: 6px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.faded-circle{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: radial-gradient( rgba(173, 173, 173, 0.812), #040404);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 2s ease;
}
.circle:hover{
    transform: rotate(360deg);
    border: 8px solid #00fb00a9;
    width: 155px;
    height: 155px;
}
.circle:hover .faded-circle{
    width: 80px;
    height: 80px;
}
.grid-img:hover img{
    transform:  scale(1.2);
}
.community-left{
    position: relative;
    left: -100%;
    animation: slideRight 1s forwards;
}
.community-right{
    position: relative;
    right: -100%;
    animation: slideLeft 1s forwards;
}
  @keyframes slideLeft {
    to {
      right: 0;
  }
}
.box-color{
    background: radial-gradient( rgba(0, 255, 0, 0.276), #040404);
    box-shadow: 0 0 0 1px rgb(0, 255, 1);
}
.icon-circle{
    padding: 6px;
    margin-left: 65px;
    margin-top: 5px;
    position: relative;
}
.social-button{
    background-color: transparent !important;
    border-radius: 20px !important;
    border: 1px solid #00FF01 !important;
    color: #ffff !important;
}
.social-button:hover{
    background: radial-gradient( rgba(0, 255, 0, 0.529), #040404);
}
  @media screen and (max-width:540px) {
  .grid-img{
      margin-left: -80px;
  }
  .grid-h1{
      font-size: 40px !important;
  }
  .image{
      width:400px;
  }
  .community-left, .community-right{
      width:100%
  }
  .navbarContainer {
      display: flex;
      flex-direction: column;
  }
}

.grid-part{
    margin-left: 0px !important;
    padding-left: 0px !important;
}

@media screen and (max-width:850px) {
    .icon-circle{
        display: none;
        font-size: 16px !important;
    }
    .discord{
        margin-left: 20px;
    }
    .twitter{
        margin-right: 20px;
    }
}
  @media screen and (min-width:1000px){
  .reward-heading{
    margin-top: 250px;
  }
  .grid-right{
    margin-right: -80px;
}
}

@media screen and (max-width:300px){
    .price-box{
        width:180px !important;
        height:360px !important; 
    }
}

@media screen and (max-width:600px){
    .discord{
        margin-left: 15px;
    }
}

@media screen and (min-width:912px){
    .image-container{
        margin-left: -38px;
    }
    .reward-heading{
        margin-top: 180px !important;
    }
}

@media screen and (max-width:980px ) {
    .icon-circle{
        width:80px;
        height: 100px;
        margin-left: -10px;
    }
}
  
.team-name{
    font-size: 30px;
    font-family: 'Book antique';
    color: #00FF01;
    margin-left: 30px;
    margin-top:3px;             
}
  
.team-info{
    font-size: 25px;
    font-family: 'Book antique';
    margin-bottom: 10px;
    margin-left: 30px;
}
  
.wallet-adapter-button {
    margin-top: 20px;
    font-size: 22px;
}
  
  /* .logo-image {
    width: 58px;
    height: 60px;
} */
  
.company-welcome-text {
    font-family: 'Book Antiqua';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    color: #FDFDFD;
}
  
.company-main-content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

:global.company-enterprise-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 24px;
    border: 1px solid #00FF01;
    border-radius: 100px;
    color: #FDFDFD;
  
}
  
.company-user-button {
    box-sizing: border-box;
  
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 24px;
  
    border: 1px solid #00FF01;
    border-radius: 100px;
    color: #FDFDFD;
  
}

.price-box-landing{
    width:255px;
    height:400px; 
    border:2px outset #d9d9d9;
    border-radius: 10%;
    box-shadow: 5px 5px #c1c1c1;
    align-items: center;
    margin-bottom: 12px;
    text-align: center;
    position: relative;
}

.price-box{
    width:150px;
    border:2px outset #d9d9d9;
    border-radius: 10%;
    box-shadow: 5px 5px #c1c1c1;
    align-items: center;
    margin-bottom: 12px;
    text-align: center;
    position: relative;
}
.price-box1{
  right: -100%;
  animation: slideLeft 1s forwards;
}
.price-box2{
    right: -100%;
    animation: slideLeft 3s forwards;
}
.price-box3{
    left: -50%;
    animation: slideRight 2s forwards;
}
.price-box4{
    left: -50%;
    animation: slideRight 4s forwards;
}

.nft-price{
    margin-top: 20px;
}